/*
Lecture 1 Notes
Padding-inside
Margin- outside*/
/*ID - unique name to an HTML elements: give an HTML and id- a unique name so that we can reference it later in CSS using # 
Class - a way to name to many HTML elements
CSS Specificity {inline, id,class,type}
*/
/* MEDIA */

/* NAV BAR */
#nav_bar {
  float: right;
}
/* LOGO */
.logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 112px;
  padding-bottom: 20px;
}
/*FORM*/
#searchbar {
  text-align: center;
    margin: auto;
}
#searchbar input {
    width: 25em;
    margin: auto;
    padding: 4px 8px 4px 8px;
    border: 1px solid #d5d5d5;
    display: inline-block;
    font-size: 1.35em;
    vertical-align: middle;
}
#search-options {
  text-align: center;
    margin-top: 10px;
}
.button {
    font: bold 13.5px/30px Arial, sans-serif!important;
    color: #7a7a7a;
    padding: 3px 10px 3px 10px;
    margin: 20px 2px 10px 2px;
    display: inline-block;
    border-radius: 2px;
}
.button:hover {
    border: 1px solid #cccccc;
    color: black;
}
#searchbar input:hover {
    border: 1px solid #7e7e7e;
}

#advanced_form {
    font-family: arial,sans-serif;
    /*padding: 40px;*/
    margin-right:16px;
    height:27px;
    line-height:27px;
    min-width:54px;
    outline:0;
    padding:0 8px}

}
 